@media print {
  /* style sheet for print goes here */
	a.squarebutton,
	a.squarebutton span,
	.buttonwrapper,
	.bug,
	#bread,
	.squarebutton,
	#pageBanner,
	#pageNavigation,
	#pageFooter,
	#subBanner,
	#leftSideMenu,
	#search {display:none;}
	
	
	
	#subContentWrapper,
	#pageWrapper,
	#contentcolumn, 
	#contentwrapper {width: 100%; margin: 0; float: none;}

	body {background:none}

}

/* redefine global id */
#contentcolumn {width:79.1em;border-left:none;padding-left:0em;padding-right:0.4em;margin:0;padding-top:0}
#leftSideMenu {display:none;}
/* done redefining global id's */

/* searchJobs.asp */
#jobSearchForm select { width:20em; text-align:left; margin-bottom:2em; }
#jobsList { min-height:40em;}
#jobsList  { margin-top:1em; padding:2em; }
#jobsList td { padding-bottom:0.2em }

div.jobdetails {margin:0.5em 0.8em 0.5em;}

h4.jobarea {background:none;color:#003366;font-weight:bold; font-size:140%; margin:0.8em 0 0.2em 0.6em;padding:0}


p.description a {color:#3d51ab; font-size:130%;text-decoration:underline;}
p.attributes {font-size:100%; color:#0e774a;}
p.details {font-weight:normal;font-size:102%}


.posted {width:15%;}
.location {width:20%;}
.startpay {width:15%;}
.jobid {width:15%;}
.jobid a {color:#FB0000; }
.jobdescription {padding:0.2em 0 1.4em}


span.select {
   position: absolute;
   width: 238px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
   height: 21px;
   padding: 0 24px 0 8px;
   color: #fff;
   font: 12px/21px arial,sans-serif;
   background: url('/include/style/images/forms/select.gif') no-repeat;
   overflow: hidden;

 }
 
 select#whichCompany {width:20em;}

