/* p {margin:.75em 1em 1.5em} */

#zipcode {width:15em;height:1.5em;}
#whoareyou {width:15em;height:1.5em;}
#filename {width:15em;height:2em;}

input.resumeform {float:left;clear:left;width:40em;margin-left:2em;}

label.resumeform {display:block;float:left;clear:left;width:40em;text-align:left;margin-left:2em;}

#upload_resume {padding:10px 0 10px 0;margin-left:2em;}

label {float: left;clear:right;text-align: left; width:20em; display: block;}
p, label {color:#003466}


