@media print, handheld, page
{
    /* style sheet for print goes here */
    size.landscape a.squarebutton,
    a.squarebutton span,
    .buttonwrapper,
    .bug,
    #bread,
    .squarebutton,
    #pageBanner,
    #pageNavigation,
    #pageFooter,
    #subBanner,
    #leftSideMenu,
    #search
    {
        display: none;
    }

    #subContentWrapper,
    #pageWrapper,
    #contentcolumn,
    #contentwrapper
    {
        width: 100%;
        margin: 0;
        float: none;
    }

    body
    {
        background: none;
    }
}

#leftSideMenu {
	display:none;
}
.center {
	vertical-align:middle;
}