@media print {
  /* style sheet for print goes here */
	a.squarebutton,
	a.squarebutton span,
	.buttonwrapper,
	.bug,
	#bread,
	.squarebutton,
	#pageBanner,
	#pageNavigation,
	#pageFooter,
	#subBanner,
	#leftSideMenu,
	#search {display:none;}
	
	
	
	#subContentWrapper,
	#pageWrapper,
	#contentcolumn, 
	#contentwrapper {width: 100%; margin: 0; float: none;}

	body {background:none}

}

td.LastnameFirst {font-size:110%;}
th.LastnameFirst {text-align:left;}
table.check {margin:0.5em 0.5em;width:98%}
table.check th {font-size:85%;font-style:bold; text-align:center;}
table.check td {font-size:90%}



