@media print {
    /* style sheet for print goes here */
    a.squarebutton,
    a.squarebutton span,
    .buttonwrapper,
    .bug,
    #bread,
    .squarebutton,
    #pageBanner,
    #pageNavigation,
    #pageFooter,
    #subBanner,
    #leftSideMenu,
    #search {
        display: none;
    }

    #subContentWrapper,
    #pageWrapper,
    #contentcolumn,
    #contentwrapper {
        width: 100%;
        margin: 0;
        float: none;
    }

    body {
        background: none;
    }
}

/* redefine global id */
#contentcolumn {
    width: 79.1em;
    border-left: none;
    padding-left: 0em;
    padding-right: 0.4em;
    margin: 0;
    padding-top: 0;
}

#leftSideMenu {
    display: none;
}
/* done redefining global id's */

#accountActivityDetail,
#viewActivityForm {
    min-height: 5em;
}

#likeName {
    width: 20em;
}

.changeView {
    width: 10em;
    float: right;
    clear: left;
    margin-bottom: 0.6em;
}

#viewActivityForm p {
    width: 100%;
    text-align: center;
    padding: 1em 0 0;
}

    #viewActivityForm p span {
        margin: 0 1em 0;
        padding: 0.1em 0 0 1em;
    }

#formOptions {
    width: 45em;
    padding: 0 1em;
}

table#formOptions tr td input,
table#formOptions tr td label {
    float: left;
    clear: left;
}

ul.guide {
    list-style: none;
    margin: 0.4em 0;
    padding: 0;
}

    ul.guide li {
        font-weight: bold;
        margin: 0;
        padding: 0.2em 0em 0.2em 0em;
        border-bottom: 1px solid #ccc;
        color: #666;
    }

        ul.guide li:hover {
            color: #000;
            background-color: #ddd;
        }

#button {
    width: 12em;
    border-right: 1px solid #000;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    background-color: #90bade;
    color: #333;
}

li.label_checkbox_pair {
    clear: both;
    float: none;
}

    li.label_checkbox_pair input {
        clear: right;
        float: right;
        margin-left: 0em;
    }

span.select {
    position: absolute;
    width: 238px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
    height: 21px;
    padding: 0 24px 0 8px;
    color: #fff;
    font: 12px/21px arial,sans-serif;
    background: url('/include/style/images/forms/select.gif') no-repeat;
    overflow: hidden;
}

select#whichCompany {
    width: 20em;
}

#weekending ul li {
    margin: auto 4em;
}

    #weekending ul li li,
    #weekending ul li ul {
        list-style: none;
        list-style-type: none;
        maring-left: 1em;
        margin-bottom: 1em;
        display: inline;
    }

.changeView {
    width: 10em;
    float: right;
    clear: left;
}

#appResults, #timecards {
    padding: 0 1em 0 0em;
    clear: both;
}

.appView, .appID, th.appName, .appSSN {
    text-align: center;
}

.appDate, th.appLocation {
    text-align: right;
}

td.appName, td.appLocation {
    padding-left: 0em;
}

td.appLocation,
td.appName {
    white-space: nowrap;
    overflow: none;
    text-align: left;
}

.appCompanies {
    width: 16%;
}

.appCompany {
    width: 4%;
}

/* .appName { width:28%; } */
.appSSN {
    width: 8%;
}

.appLocation {
    width: 24%;
}

.appDate {
    width: 20%;
}

#whatWasInserted {
    background: url('/pdfServer/pdfApplication/appInjected.jpg') no-repeat bottom right;
}

#whatWasInserted {
    margin-top: 1em;
    padding: 2em;
}

    #whatWasInserted td {
        padding-bottom: 0.2em;
    }

/* viewTimecards.asp */
div#timecards table {
    width: 100%;
}

#timecards table td {
    padding: 0 0 0.2em 0;
}

.tempscodes {
    width: 16%;
}

.timeStatus {
    width: 4%;
}

.employee {
    width: 25%;
}

.company {
    width: 20%;
}

.location {
    width: 10%;
}

.totalhours {
    width: 15%;
}

.weekending {
    width: 20%;
    text-align: right;
}

/* viewAttachments.asp */
table.fileAttachments {
    width: 46em;
    margin: 0 0 0 5em;
}

#searchGuide {
    width: 13em;
    margin: 0 2em 0 0;
    margin-bottom: 0.4em;
    display: block;
    float: left;
    clear: none;
}

/* searchJobs.asp */
#jobSearchForm select {
    width: 20em;
    text-align: left;
    margin-bottom: 2em;
}

#jobsList {
    min-height: 40em;
}

#jobsList {
    margin-top: 1em;
    padding: 2em;
}

    #jobsList td {
        padding-bottom: 0.2em;
    }

table.jobPost {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 0;
    border-width: 0;
    border-spacing: 0;
    border-style: none;
    border-color: #9CBAD9 #7BA5D1 #7BA5D1 #9CBAD9;
    border-collapse: separate;
    background-color: #fff;
}

    table.jobPost th {
        border-width: 0px 0px 0px 0px;
        padding: 1px 1px 1px 1px;
        border-style: none none none none;
        border-color: #fff;
        background-color: white;
    }

    table.jobPost td {
        border-width: 3px;
        padding: 1px;
        border-style: double;
        border-color: white;
    }

.description {
    width: 35%;
    text-align: left;
}

.posted {
    width: 15%;
}

.location {
    width: 20%;
}

.startpay {
    width: 15%;
}

.jobid {
    width: 15%;
}

    .jobid a {
        color: #FB0000;
    }

.jobdescription {
    padding: 0.2em 0 1.4em;
}

a#apply_for_job,
a#send_resume {
    color: red;
    text-decoration: underline;
}

a#apply_for_job {
    float: right;
}

a#send_resume {
    float: left;
}

td#apply_ways {
    padding: 0.4em 0 0;
}

a#send_resume {
    float: left;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

a.inSystem {
    color: #cccccc;
}

td.notInSystem a,
a.notInSystem,
td.notInSystem {
    font-weight: bold;
}

.notSubmitted,
a.notSubmitted,
td.notSubmitted {
    font-style: italic;
    color: red;
}

/* baseSkills.asp */
form.skillstest fieldset {
    padding: 0 0 13em;
    border: none;
}

form.skillstest legend {
    padding: 0 0.2em 0.6em;
    font-weight: bold;
}

form.skillstest label {
    display: inline-block;
    line-height: 1.8em;
    vertical-align: top;
    width: 12em;
}

form.skillstest fieldset ol {
    margin: 0;
    padding: 0;
}

form.skillstest fieldset li {
    list-style: none;
    padding: 5px;
    margin: 0;
}

form.skillstest fieldset fieldset {
    border: none;
    margin: 3px 0 0;
}

    form.skillstest fieldset fieldset legend {
        padding: 0 0 5px;
        font-weight: normal;
    }

    form.skillstest fieldset fieldset label {
        display: block;
        width: auto;
    }

form.skillstest em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

form.skillstest fieldset fieldset label {
    margin-left: 10.1em; /* Width plus 3 (html space) */
}

fieldset#mathematics ol {
    padding: 0;
    margin: 0;
    clear: both;
}

    fieldset#mathematics ol li {
        display: inline;
        float: left;
        clear: right;
        width: 6em;
        padding: 0 2em 0.2em 0;
        text-align: right;
    }

fieldset#mathematics ul {
    display: block;
}

fieldset#mathematics input {
    width: 5em;
    text-align: right;
    margin: 0 0 4em 0;
}

.incomplete,
.appcompleted,
.enrolled {
    margin: 0 0 0 1em;
    display: block;
    background-image: url('/include/system/tools/images/app_sprites.gif');
    height: 10px;
    width: 32px;
}

.incomplete {
    background-position: 0px 0px;
}

.appcompleted {
    background-position: 0px -22px;
    height: 10px;
    width: 32px;
}

.enrolled {
    background-position: 0px -44px;
    height: 10px;
    width: 32px;
}

.branchHours {
    width: 60em;
}

    .branchHours th {
        text-align: center;
    }

.burley,
.ida {
    background-color: #CCFFCC;
}

.boise,
.twinfalls {
    background-color: #CCFFFF;
}

table.onlineApps {
    width: 98%;
}

    table.onlineApps tr td {
        overflow: hidden;
    }

div#attachments {
    margin: 1.6em 0 0 0;
}

.attachment_options {
    width: 72px;
}

th.manage_attached a {
    display: block;
    float: left;
    clear: right;
    width: 25px;
    height: 25px;
    margin: 0 0.4em 0 0;
}

td.attachment_options a {
    display: block;
    float: left;
    clear: right;
    width: 15px;
    height: 15px;
    margin: 0 0.4em 0 0;
}

.ripAttachment,
.getAttachment,
.delAttachment,
.editAttachment,
.newAttachment {
    background-image: url('/include/system/tools/images/app_sprites.gif');
}

.newAttachment {
    background-position: -35px -32px;
}

.editAttachment {
    background-position: -31px 0px;
}

a.editAttachment:hover {
    background-position: -45px 0px;
}

.delAttachment {
    background-position: -31px -14px;
}

a.delAttachment:hover {
    background-position: -45px -14px;
}

.getAttachment {
    background-position: -31px -57px;
}

a.getAttachment:hover {
    background-position: -45px -57px;
}