/* ========== */
/* = RESET  = */
/* ========== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, button { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a { outline: none; }

/* ========== */
/* = GLOBAL = */
/* ========== */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: block; }
* html .clearfix { height: 1%; }
div#wrap { width: 100%; }
a.more { display: block; padding: 0.5em 0; }
.left { float: left; }
.right { float: right; }

/* CONTENT SIZE */
div#header, 
div#marketing { width: 80em; margin: 0 auto; }
div#content { width: 78em; margin: 0 auto; }
div#content { padding: 1em; }

/* COLUMNS SIZE */
div#col1 { width: 52em; float: left; margin-right: 1em; }
div#col2 { width: 25em; float: right; }

h2 { padding: 0.8em; margin-bottom: 0.5em;}
div.module { margin-bottom: 1em; }

/* TABS */
ul.tabs li { float: left; margin-bottom: -1px; }
ul.tabs li a { display: block; padding: 0.8em 1em; }
ul.tabs li.selected a:hover { padding-bottom: 0.8em; }
ul.tabs li.selected { margin-bottom: -1px; }

/* BUTTONS */
a.button span.lCorner,
a.button span.rCorner { display:block; float:left; height:25px; width:6px; }
a.button span.btnTxt { display: block; float: left; height: 25px; line-height: 2.3em; padding: 0 0.8em; }

a.nextBtn,
a.backBtn { width: 26px; height: 26px; }



/* =================== */
/* = ROUNDED CORNERS = */
/* =================== */
div.b div div,
div.tb div div, 
div.bb div div{ height: 5px; margin: 0 4px; font-size: 0; }
div.mb { padding:0.1em 0.5em; }

/* ==================== */
/* = TODAY ON MYSPACE = */
/* ==================== */
/* GLOBAL */
div#today { position: relative; z-index: 1; }
div#today * { z-index: 1; }
div#today h2 { padding: 1.2em; }
div#todayPeople li { float: left; }
div#today div.middle { padding-top: 1.5em; display: none; }
div#today div.middle.selected { display: block; }
div#todayOnMySpace { min-height: 400px; }

/* WEATHER WIDGET */
div#today div#weather { position: absolute; right: 1.5em; top: -2px; width: 80%; }
div#today div#todayDate { float: right; text-align: right; margin-top: 1.5em; margin-right: 1em; }
div#today a#todayWeather { display: block; float: right; height: 60px; cursor: pointer; }

div#today a#todayWeather img { float: left; }
div#today a#todayWeather div.temperature { padding-top: 12px; }
div#today div#todayDate a { display: block; }



/* ============================= */
/* = TODAY ON MYSPACE - PEOPLE = */
/* ============================= */
/* USER LIST */
div#todayPeople ul#peopleList li { width: 10.1em; margin-bottom: 1.5em; }
div#todayPeople ul#peopleList li h3 { padding-bottom: 0.4em; overflow:hidden; white-space: nowrap; max-height: 1em; }

/* FIND USER FORM */
div#todayPeople div#findUserWrap { padding: 1em; }
div#todayPeople div#findUserWrap input,
div#todayPeople div#findFriendWrap select { float: left; }
div#todayPeople div#findUserWrap input#findUser, 
div#todayPeople div#findUserWrap select { margin-right: 1em; padding: 0.6em; float: left; width: 23%; }
div#todayPeople div#findUserWrap input#findUser { width: 55%;}
div#todayPeople div#findUserFormWrap { margin-top: 0.5em; }
div#todayPeople div#findUserWrap select { height: 26px; }
div#todayPeople div#findUserWrap a.button { float: right; }

div#todayPeople div#findUserFormWrap input { width:55px;height:28px; }
div#todayPeople #interestSelect { height:24px; padding: 0.5em; }
div#todayPeople div#findUserFormWrap input#findUser { height: 14px; }


/* PEOPLE */
div#todayPeople ul#peopleList li div.userImage { width: 80px; height: 80px; margin: 0 auto; overflow: hidden; }
div#todayPeople ul#peopleList li a img { max-width: 80px; max-height: 80px; }


/* ============================= */
/* = TODAY ON MYSAPCE - VIDEOS = */
/* ============================= */
div#todayVideos ul#otherVideosLinks li { margin-bottom: 0.5em; padding-bottom: 0.5em; }
div#todayVideos ul#otherVideosLinks li.last { margin-bottom: 0; }
div#todayVideos div#otherVideos { float: right; width: 260px; margin-right: 1em;  }
div#todayVideos div#currentVideo { float: left; width: 313px; margin: 0 1em; }
div#todayVideos div.rate { float: left; width: 70%; margin-right: 10px; }
div#todayVideos div.rate div { margin-right: 4px; height: 14px; }
div#todayVideos div.rating { margin: 0.4em 0; }
div#todayVideos div#otherVideos div.thumbnail { float: left; width: 87px; height: 65px; overflow: hidden; margin-right: 0.5em; }
div#todayVideos div#otherVideos div.thumbnail a { display: block; }
div#todayVideos div#otherVideos div.thumbnail img { max-width: 95px; min-height: 70px; }
div#todayVideos div.info { float: left; width: 166px; }
div#todayVideos div.info h3 { height: 13px; overflow: hidden; }
div#todayVideos div#currentVideo p.description { height: 35px; overflow: hidden; }
div#todayVideos p.count { float: left; }
div#todayVideos ul#currentVideoLinks { clear: left; }
div#todayVideos ul#currentVideoLinks li { float: left; margin-right: 0.5em; padding-right: 0.5em; line-height: 1.5em; }
div#todayVideos div#videoPlayer { margin-bottom: 1em; }
img#videoPlayerStaticImage { width: 312px; position: absolute; }
div#videoPlayerOverlay { width: 312px; height: 260px; position: relative; cursor: pointer; cursor: hand; background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/FeaturedVideoOverlay.png); }

/* ============================ */
/* = TODAY ON MYSPACE - MUSIC = */
/* ============================ */
div#todayMusic { padding: 1em; }
div#todayMusic div.artistImage { float: left; padding: 3px; margin-right: 1em; }
div#todayMusic div.artistImage a span { width: 226px; overflow: hidden; display: block; }
div#todayMusic div.artistImage img { width: 226px; height: 174px; }
div#todayMusic div.description { float: left; width: 335px; }
div#todayMusic div.description h3 { margin-bottom: 1em; }
div#todayMusic p#aboutArtist { margin: 1em 0; }
div#todayMusic div#otherArtists { margin-top: 1em; padding: 1em; }
div#todayMusic div#otherArtists ul { margin-top: 1em; }
div#todayMusic div#otherArtists li { float: left; width: 71px; text-align: center; margin: 0 4.6px; }
div#todayMusic div#otherArtists li span.thumbnail span { display: block; width: 51px; height: 51px; overflow: hidden; text-align: center; }
div#todayMusic div#otherArtists li img { min-width: 51px; min-height: 51px; max-width: 60px; }
div#todayMusic div#otherArtists li span { display: block; }
div#todayMusic div#otherArtists li a { display: block; text-align: center; padding: 0.5em; }
div#todayMusic div#otherArtists li span.thumbnail { width: 51px; height: 51px; padding: 2px; margin: 0 auto;}

/* =========================== */
/* = TODAY ON MYSPACE - NEWS = */
/* =========================== */
div#todayNews { padding: 1em; }
div#todayNews div#topNews,
div#todayNews div#otherNews { float: left; margin-bottom: 1em; }
div#todayNews div#topNews { width: 362px; margin-right: 1em; }
div#todayNews a.more { clear: both; }
div#todayNews div#headline p { margin: 0.5em 0; }
div#todayNews div#headline ul { margin-left: 1.3em; }
div#todayNews div#otherNews ul { margin-left: 1.3em; margin-top: 0.5em; }
div#todayNews div#headlineImage { float: left; padding: 3px; margin-right: 1em; }
div#todayNews div#headlineImage a span { display: block; width: 143px; overflow: hidden; }
div#todayNews div#headlineImage img { width: 143px; height: 168px; }
div#todayNews div.description { float: left; width: 198px; }
div#todayNews div#topStories { clear: left; margin: 1em 0 0; padding: 0.5em; }
div#todayNews div#topStories li { float: left; width: 169px; margin: 0 0.25em; }
div#todayNews div#topStories li img { width: 29px; height: 21px; }
div#todayNews div#topStories li a { display: block; padding: 0.5em; overflow: hidden; }
div#todayNews div#topStories li span { display: block; float: left; height: 24px; width: 105px; overflow: hidden; }
div#todayNews div#topStories li span.thumbnail { float: left; display: block; width: 29px; height: 21px; padding: 2px; margin-right: 0.5em; }
div#todayNews div#topStories li span.thumbnail span { display: block; width: 29px; height: 21px; overflow: hidden; }
div#todayNews div#otherNews { width: 211px; }
div#todayNews div#otherNewsPhoto { padding: 3px; margin-bottom: 0.5em; }
div#todayNews div#otherNewsPhoto a span { display: block; width: 203px; overflow: hidden; }
div#todayNews div#otherNewsPhoto img { width: 203px; height: 240px; }
div#todayNews div#headline li a,
div#todayNews div#otherNews li a { height: 13px; overflow: hidden; display: block; }


/* ================== */
/* = NEW TO MYSPACE = */
/* ================== */
/* GLOBAL */
div#newMyspace div.middle { padding-top: 2em; }

/* TOUR LIST */
div#newMyspace ul#tourList { float: right; width: 60%; margin-bottom: 1.5em; padding: 0 1em; }
div#newMyspace h3 { margin-bottom: 0.5em; }
div#newMyspace div.description { float: left; width: 32%; margin-bottom: 1.5em; margin-left: 1em; }
div#newMyspace li { padding-left: 34px; line-height: 14px; padding-bottom: 0.8em; margin-bottom: 0.8em; }
div#newMyspace li.last { margin: 0px; }

/* LINK */
div#newMyspace div#tourLinkWrap { margin-top: 1.5em; padding: 1em; clear: both; }
div#newMyspace a#takeTour { float: left; }
div#newMyspace div#singUpBtnWrap { float: right; }


/* =========== */
/* = ACCOUNT = */
/* =========== */
/* GLOBAL */
div#account div.middle { padding: 1em; display: none; }
div#account div.selected { display: block; }
/* TABS */
div#account h2 { margin: 0; padding: 0; }
div#account ul#loginTabs li { float: left; margin-right: 0.3em; }
div#account ul#loginTabs li a { display: block; padding: 0.5em 2em; margin: 0 6px; }
div#account ul#loginTabs li.selected a { padding-bottom: 0.8em; } 

/* FORM */
div#account label { float: left; width: 27%; text-align: right; line-height: 2em; }
div#account input { width: 66%; margin-bottom: 0.8em; padding: 0.3em; margin-left: 0.7em; }
div#account .rememberMe { height: 13px; margin: 0.5em 0 0; width: 13px; }
div#account div#loginBtnWrap { margin-left: 30%; }
div#account div#loginBtnWrap input { float: left; }
div#account div#loginBtnWrap label { float: left; padding-left: 0.5em; margin: 0.5em 0 0; text-align: left; line-height: 1.2em; white-space: nowrap; }
div#account div#loginBtnWrap a.button { float: right; }
div#account p.small { margin-top: 1em; }

/* LOGIN FAIL */
div#account p.errorSmall { text-align:left; }
div#account p#loginAttempts { padding-left: 30px; margin-bottom: 1em; }
div#account input.verification { width: 52%; float: left; margin-right: 0.8em; }
div#account a#refreshCaptcha { display: block; width: 23px; height: 23px; text-indent: -10000em; float: left; }
div#account p.description { margin: 1em 0; }
div#account div#verification {position:relative;height:36px;}

/* ZEPHYR APP */
div#splash_login_warning{border:1px solid #039; width:300px; _width:302px; clear:both;}

/* ========== */
/* = SIGNUP = */
/* ========== */
/* FORM */
div#account div#signUp  p { float: left; width: 71%; }
div#account div#signUp  p.label { width: 25%; }
div#account div#signUp div.inputWrap { margin-bottom: 0.5em; }
div#account div#signUp label { width: 100%; float: none; display: block; }

div#account div#signUp select { width: 20%; margin-right: 0.5em; margin-bottom: 1em; }
div#account div#signUp p.label { margin-right: 0.7em; }
div#account div#signUp input { margin: 0; width: 100%; }
div#account div#signUp input#genderF,
div#account div#signUp input#genderM,
div#account div#signUp input#agree { width: auto; float: left; margin-top: 3px; }
div#account div#signUp p#genderForm label { width: auto; float: left; margin: 0 0.7em 0 0.7em; }
div#account div#signUp p#agreeForm label { width: 87%; text-align: justify; margin-left: 0.7em; line-height: 1.4em; }
div#account div#signUp p#agreeForm { margin-top: 1em; margin-left: 0.5em; }
div#account div#signUp div#signupBtnWrap { margin-top: 1em; }
div#account div#signUp div#signupBtnWrap a { float: right; }

/* ================ */
/* = FIND FRIENDS = */
/* ================ */
div#findFriends label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; }
div#findFriends input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; }
div#findFriends .button { float: right; }

/* ================== */
/* = MYSPACE CHARTS = */
/* ================== */
/* GLOBAL */

/* TABS */
ul#topTensLinks li { width: 7.82em; }
ul#topTensLinks li a { padding: 0.8em 0; }
ul#topTensLinks li.last { border-right: none; }
div.listNav { padding: 1em 0; width: 95%; margin: 0 auto; }
div.listNav p { float: left; width: 76%; margin: 0.5em; }
div.listNav a { display: block; float: left; text-indent: -10000em; margin-top: 10px; }
div#myspaceChart div.middle { display: none; }
div#myspaceChart div.middle.selected { display: block; }
div.artistRank h4 { overflow: hidden; height: 16px; }
div#myspaceChart ol.topTenList { padding: 0 0.5em; min-height: 38.3em; }
div#topChartError { display: none; padding: 0 0.5em; min-height: 38.3em; text-align: center; }
div#topChartLoading { display: none; padding: 0 0.5em; min-height: 38.3em; }
div#topChartLoading img { display: block; margin-left: auto; margin-right: auto; }


div#myspaceChart ol.topTenList li { clear: left; margin-bottom: 1em; } 
div#myspaceChart ol.topTenList li span { display: block; float: left; width: 1.4em; }
ol.topTenList div.artistImage { float: left; width: 30px; height: 30px; overflow: hidden; margin-left: 0.5em; margin-top: 4px; }
ol.topTenList div.artistImage img { width: 30px; height: 30px; }
div.artistRank { /* height: 32px; */ margin-left: 7em; }
div#myspaceChart ol.topTenList div.genre { height: 17px; padding-left: 0.5em; }
div#myspaceChart a.small { clear: left; display: block; margin: 1em 0; }
div#myspaceChart ol.topTenList div.genre { width: 95%; }

/* =================== */
/* = SPONSORED LINKS = */
/* =================== */
/* GLOBAL */
div#sponsoredLinks div.googleafc ul { padding-top: 1em ; }
div#sponsoredLinks div.googleafc li { float: left; width: 47%; margin-left: 1em; margin-bottom: 1em; }
div#sponsoredLinks div.googleafc { margin: 0; }
div#sponsoredLinks div.googleafc h2 { padding: 0.8em; margin-bottom: 0.5em; }
div#sponsoredLinks div.googleafc a { padding: 0; }

/* ============= */
/* = MARKETING = */
/* ============= */
div#marketing { position: relative; }
div#marketing div#swf { position: relative; z-index: 2; width: 960px; height: 273px; }
div#marketing div#ad { position: absolute; z-index: 150; right: 1em; top: 1em;  }


/* Google Styles */

div.googleafs li h3 a,div.googleafc li h3 a, div.googleafc li h3 a:hover{display:block;color:#596A7D;font-weight:bold;text-decoration:none !important;}

div.googleafc ul.adcount1, ul.acount1, div.googleafc ul.adcount1 a *{text-align:center}

div.googleafc ul.adcount1 a{float:none !important;width:auto !important;padding:0 10px}

div.googleafc ul.adcount1 li h3 a{font-size:20px !important;line-height:150%}

div.googleafc ul.adcount1 p{font-size:16px !important;line-height:162.5%;margin:.7em 0}

div.googleafc ul.adcount1 span{font-size:13px !important}

div.googleafc div.horz ul.adcount2 a{width:46%;_width:49%}

div.googleafc div.horz ul.adcount3 a{width:30%;_width:31%}

div.googleafc div.quad li h3 a{margin-top:.5em;color:#1619fc}

div.googleafc div.quad ul.adcount1 a{height:auto;margin-bottom:1em}

div.googleafc ul.adcount1 li {width:100% !important;}

/*
   FILE: typography.css
   PROJECT: splash Page
   VERSION: 001
   CREATED: 04/28/08
*/

/* ========== */
/* = GLOBAL = */
/* ========== */
/* SET FONT TO 1EM TO 12PX */
body{ font: 75%  verdana, arial, sans-serif, helvetica; }
html>body { font-size: 12px; }

/* GLOBAL ELEMENTS */
p{ font-size: 1em; line-height: 1.5em;}
h2 { font-size: 1em; font-weight: bold; }
h3, h4 { font-weight: bold; font-size: 0.916em; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
strong, em { font-weight: bold; }
button { text-align: center; }
a.more { text-align: right; font-size: 0.91em; font-weight: bold; }

/* SMALL FONT */
p.small { font-size: 0.83em; }

/* TABS */
ul.tabs li a { font-weight: bold; font-size: 0.91em; text-align: center; }
ul.tabs li a:hover { text-decoration: none; }

/* BUTTONS */
a.button span.btnTxt { font-weight: bold; font-size: 0.91em; line-height: 2.1em; white-space: nowrap; }
a.button:hover { text-decoration: none; }



/* ==================== */
/* = TODAY ON MYSPACE = */
/* ==================== */
/* WEATHER WIDGET */
div#today a#todayWeather div { text-align: center; }
div#today a#todayWeather div.temperature { font-size: 1.5em; font-weight: bold; text-shadow: #555 -1px 1px 2px; }
div#today a#todayWeather div.location { font-size: 10px; }
div#today div#todayDate { font-size: 0.83em; font-weight: bold; }


/* ============================= */
/* = TODAY ON MYSPACE - PEOPLE = */
/* ============================= */
/* USER LIST */
div#todayPeople ul#peopleList li { text-align: center; }
div#todayPeople ul#peopleList li p { font-size: 0.83em; }
div#todayPeople ul#peopleList li a:hover h3 { text-decoration: underline; }

/* FIND USER FORM */
div#todayPeople div#findUserWrap label { font-weight: bold; }
div#todayPeople div#findUserWrap input#findUser, div#findUserWrap select { font-size: 0.83em; }
div#todayPeople div#findUserWrap a.button span.btnTxt { line-height: 2.4em; }

/* ============================= */
/* = TODAY ON MYSPACE - VIDEOS = */
/* ============================= */
div#todayVideos span.count,
div#todayVideos p { font-size: 0.91em; }
div#todayVideos ul#currentVideoLinks li,
div#todayVideos p.count { font-size: 0.83em; }

/* ============================ */
/* = TODAY ON MYSPACE - MUSIC = */
/* ============================ */
div#todayMusic div.description h3 { font-size: 0.91em; }
div#todayMusic div.description h4 { font-size: 1.17em; }
div#todayMusic p.info,
div#todayMusic div#otherArtists li a { font-size: 0.83em; }
div#todayMusic div#otherArtists li a:hover { text-decoration: none; }
div#todayMusic p a { font-weight: bold; }


/* =========================== */
/* = TODAY ON MYSPACE - NEWS = */
/* =========================== */
div#todayNews h3 { font-size: 1.17em; }
div#todayNews p { font-size: 0.91em; } 
div#todayNews li { font-size: 0.83em; }
div#todayNews li.featured { font-weight: bold; }
div#todayNews div#topStories h3 { font-size: 0.91em; }
div#todayNews .small { font-size: 0.75em; }

/* ========================= */
/* = WHAT TO DO ON MYSPACE = */
/* ========================= */
/* GLOBAL */

/* TOUR LIST */
div#newMyspace p,
div#newMyspace li { font-size: 0.91em; }
div#newMyspace h3 { font-size: 1.08em; }


/* LINK */
div#newMyspace a#takeTour { font-weight: bold; line-height: 2em; }
div#newMyspace a#takeTour:hover { text-decoration: underline; }

/* =========== */
/* = ACCOUNT = */
/* =========== */ 
/* GLOBAL */
div#account ul#loginTabs li a:hover { text-decoration: none; }
div#account label { font-size: 0.91em; }
/* FORM */
div#account p.small { text-align: right; }

/* LOGIN FAILED */
div#account p.errorSmall,
div#account p#loginAttempts { font-size: 0.83em; line-height: 1.3em; }
 

/* ========= */
/* = SIGNUP = */
/* ========= */
/* GLOBAL */

/* FORM */

/* ================ */
/* = FIND FRIENDS = */
/* ================ */  
/* FORM */
div#findFriends label { font-weight: bold; }
div#findFriends input { font-size: 0.83em; }


/* ============ */
/* = TOP TENS = */
/* ============ */
/* GLOBAL */
div#myspaceChart a.small { text-align: center; font-size: 0.91em; text-decoration: underline; font-weight: bold; }
div.listNav p { font-size: 0.83em; text-align: center; }
div#myspaceChart p em { white-space: nowrap; }

/* ==================== */
/* = TOP TENS - MUSIC = */
/* ==================== */
/* TOP LIST */
ol.topTenList span { font-size: 2.33em; font-weight: bold; text-align: center; letter-spacing: -3px; }
ol.topTenList h4 a { font-size: 0.91em; }
ol.topTenList div.genre { font-size: 0.83em; line-height: 1.55em; }
div.artistRank h4 { line-height: 1.4em; }



/* ==================== */
/* = TOP TENS - BLOGS = */
/* ==================== */
/* TOP LIST */


/* ===================== */
/* = TOP TENS - VIDEOS = */
/* ===================== */
/* TOP LIST */


/* ================== */
/* = SPONORED LINKS = */
/* ================== */
div#sponsoredLinks div.googleafc * { font-family: verdana, arial, sans-serif; }
div#sponsoredLinks div.googleafc p, div.googleafc a { font-size: 11px; }
div#sponsoredLinks div.googleafc h3 a { font-size: 11px; text-decoration: underline; }
div#sponsoredLinks div.googleafc h2 { font-weight: bold; font-size: 13px; }

/*
   FILE: skin.css
   PROJECT: splash Page
   VERSION: 001
   CREATED: 04/28/08
*/

/* ========== */
/* = GLOBAL = */
/* ========== */
body { background-color: #E5E5E5; }
a:link, a:visited, a:hover, a:active  { color: #039; }
a:hover { cursor: pointer; }
a.more { border: 1px dotted #ddd; border-width: 1px 0; }


/* WRAP SHADOW */
div#wrap { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/shadow.png) repeat-y center top; }

div#content { background-color: #FFF; }
h2 { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x left -864px; color: #FFF;}
.middle { background: #FFF url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/moduleBg.gif) repeat-x left -31px; }
.afterTab { border: solid 1px #8FB8DD; border-width: 0 1px 1px; }


/* TABS */
div.tabsWrap { border: 1px solid #bbb; }
ul.tabs { background:  url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x left -1026px; }
ul.tabs li { border-right: 1px solid #bbb; }
ul.tabs li.selected a, 
ul.tabs li a:hover { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/moduleBg.gif) repeat-x; color: #747474; }
ul.tabs li a:hover { color: #039; }


/* BUTTONS */
a.button span.lCorner,
a.button span.rCorner { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) no-repeat left -105px; }
a.button span.rCorner { color: #000; background-position: right -105px; }
a.button span.btnTxt { color: #000; background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x left -800px; }
a.button:hover span.lCorner { background-position: left -140px; }
a.button:hover span.rCorner { background-position: right -140px; }
a.button:hover span.btnTxt { background-position: left -838px; }

/* ============= */
/* = ARROW BTN = */
/* ============= */
/* NORMAL */
a.nextBtn,
a.backBtn { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/iconSheet.gif) no-repeat left -1589px; }
a.backBtn { background-position: left -1758px; }

/* HOVER */
a.nextBtn:hover { background-position: left -1659px; }
a.backBtn:hover { background-position: left -1828px; }

/* DISABLED */
a.nextBtn.disabled,
a.nextBtn.disabled:hover { background-position: left -1624px; cursor: default; }
a.backBtn.disabled,
a.backBtn.disabled:hover { background-position: left -1793px; cursor: default; }

/* =================== */
/* = ROUNDED CORNERS = */
/* =================== */
div.tb div div, 
div.bb div div{ background: #FFF none; }
div.mb { background:#FFF none; border: solid #A8A8A8; border-width:0 1px; }
div.tb div div { border-top:solid 1px #A8A8A8; }
div.bb div div { border-bottom:solid 1px #A8A8A8; }
div.b,
div.b div,
div.tb div, 
div.tb, 
div.bb, 
div.bb div { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) no-repeat left top; }
div.tb div { background-position: right top; }
div.bb { background-position: left -7px; }
div.bb div { background-position: right -7px; }
div.b { background-position: left -56px; }
div.b div { background-position: right -56px; }
div.b div div { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x left -792px; }

/* ==================== */
/* = TODAY ON MYSPACE = */
/* ==================== */
/* GLOBAL */
/* div#today a { color: #001B8B; } */

/* WEATHER WIDGET */
div#today a#todayWeather,
div#today div#todayDate { color: #FFF; }
div#today a#todayWeather:hover { text-decoration: none; color: #3F5A87; }
div#today div#todayDate a { color: #FFF; text-decoration: underline; }
div#today div#todayDate a:hover { color: #3F5A87; }
div#today div.tb { width: 624px; }

.today_loading { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/ajax-loader.gif) no-repeat center center; height: 300px; }

/* ============================= */
/* = TODAY ON MYSPACE - PEOPLE = */
/* ============================= */
/* USER LIST */
div#todayPeople ul#peopleList li p { color: #737373; }

/* PEOPLE */
div#todayPeople ul#peopleList li div.userImage { background-color: #FFFFFF; }

/* FIND USER FORM */
div#todayPeople div#findUserWrap { background-color: #fff8d1; border-top: 1px solid #fde9ae; }
div#todayPeople div#findUserWrap label { color: #45556A; }
div#todayPeople div#findUserWrap input,
div#todayPeople div#findUserWrap select { border: solid 1px #889EB6; background-color: #FFF; }
div#todayPeople div#findUserWrap input#findUser { color: #898989; }
div#todayPeople div#findUserWrap a#findBtn span.lCorner,
div#todayPeople div#findUserWrap a#findBtn span.rCorner { background-position: left -205px; height: 26px; }
div#todayPeople div#findUserWrap a#findBtn span.rCorner { background-position: right -205px; }
div#todayPeople div#findUserWrap a#findBtn span.btnTxt { background-position: left -916px; height: 26px; }
div#todayPeople div#findUserWrap a#findBtn:hover span.lCorner { background-position: left -241px; }
div#todayPeople div#findUserWrap a#findBtn:hover span.rCorner { background-position: right -241px; }
div#todayPeople div#findUserWrap a#findBtn:hover span.btnTxt { background-position: left -942px; }


/* ============================= */
/* = TODAY ON MYSPACE - VIDEOS = */
/* ============================= */
div#todayVideos ul#otherVideosLinks li { border-bottom: 1px solid #ddd; }
div#todayVideos ul#otherVideosLinks li.last { border-bottom: none; }
div#todayVideos div.rate, 
div#todayVideos div.rate div { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) no-repeat right -292px; }
div#todayVideos div.rate div{ background-position: left -292px; }
div#todayVideos span.count { color: #e4990e; }
div#todayVideos div#otherVideos p,
div#todayVideos p.count { color: #999; }
div#todayVideos div#otherVideos p small,
div#todayVideos p.count small { color: #666; }
div#todayVideos ul#currentVideoLinks li { border-right: 1px solid #ccc; }
div#todayVideos ul#currentVideoLinks li.last { border: none; }


/* ============================ */
/* = TODAY ON MYSPACE - MUSIC = */
/* ============================ */
div#todayMusic div.description { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/myspaceExclusive.gif) no-repeat right 9px; }
div#todayMusic div.artistImage { border: 1px solid #ccc; background-color: #FFF; }
div#todayMusic h3 { color: #464646; }
div#todayMusic p.info { color: #999; }
div#todayMusic div#otherArtists { background-color: #fff8d1; border-top: 1px solid #fde9ae; }
div#todayMusic div#otherArtists li span.thumbnail { border: 1px solid #ccc; background-color: #FFF; }
div#todayMusic div#otherArtists li a { border: solid 1px #fff8d1; }
div#todayMusic div#otherArtists li a:hover { background-color: #FFF1AB; border: 1px solid #FDE59D; }


/* =========================== */
/* = TODAY ON MYSPACE - NEWS = */
/* =========================== */
div#todayNews div#headlineImage,
div#todayNews div#otherNewsPhoto { border: 1px solid #ccc; }
div#todayNews div#headline li,
div#todayNews div#otherNews li { list-style: disc outside; color: #ffcc66; }
div#todayNews div#topStories { background-color: #fff8d1; border-top: 1px solid #fde9ae; }
div#todayNews div#topStories li span.thumbnail { border: 1px solid #ccc; background-color: #FFF; }
div#todayNews div#topStories li a { border: solid 1px #fff8d1; text-decoration: none; }
div#todayNews div#topStories li a:hover { background-color: #FFF1AB; border: 1px solid #FDE59D; }
div#todayNews div#headline li.featured { list-style-image: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/featuredBullet.gif); }

div#todayNews .small { color: #999; }


/* ========================= */
/* = WHAT TO DO ON MYSPACE = */
/* ========================= */
/* GLOBAL */

/* TOUR LIST */
div#newMyspace h3 { color: #596a7d; }
div#newMyspace li { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/iconSheet.gif) no-repeat 2px -983px; border-bottom: solid 1px #ddd; color: #596a7d; }
div#newMyspace li.last { border: none; }
div#newMyspace li#createProfile { background-position: 2px -1133px; }
div#newMyspace li#browseProfile { background-position: 2px -1278px; }
div#newMyspace li#inviteFriends { background-position: 2px -1444px; }

/* LINK */
div#newMyspace div#tourLinkWrap { background-color: #FFF8D1; border-top: 1px solid #FDE9AE; }
div#newMyspace a#takeTour:hover { color: #CC0000; }


/* =========== */
/* = ACCOUNT = */
/* =========== */
/* GLOBAL */
div#account div.middle { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x left -29.6px; }

/* TABS - NOT SELECTED */
div#account ul#loginTabs li h2, 
div#account ul#loginTabs li { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) left -68px; }
div#account ul#loginTabs li h2 { background-position: right -68px; }
div#account ul#loginTabs li a { background-color: #cce0f4; color: #464646; }
div#account ul#loginTabs li a:hover { color: #CC0000; }


/* TABS - SELECTED */
div#account ul#loginTabs li.selected { background-position: left -17px; }
div#account ul#loginTabs li.selected h2 { background-position: right -17px; }
div#account ul#loginTabs li.selected a { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/bgSheet.png) repeat-x; color: #FFF; }
div#account ul#loginTabs li.selected a:hover { color: #FFF; }

/* FORM */
div#account input { background-color: #FFF; border: 1px solid #3a476a; }
div#account label { color: #FFF; }
div#account p.small a { color: #acc3e4; }

/* LOGIN FAILED */
div#account p#loginAttempts { color: #FFD633; background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/iconSheet.gif) no-repeat left -1960px; }
div#account a#refreshCaptcha { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/iconSheet.gif) no-repeat left -1887px; }
div#account p.errorSmall { color: #fff; }


/* ========= */
/* = SIGNUP = */
/* ========= */
/* GLOBAL */

/* FORM */
div#account div#signUp p#agreeForm label a { color: #ACC3E4; }



/* ================ */
/* = FIND FRIENDS = */
/* ================ */
/* FORM */
div#findFriends label { color: #464646; }
div#findFriends input { border: solid 1px #889EB6; background-color: #FFF; color: #898989; }

/* GO BTN */
div#findFriends a#findFriendsBtn span.lCorner,
div#findFriends a#findFriendsBtn span.rCorner { background-position: left -205px; height: 26px; }
div#findFriends a#findFriendsBtn span.rCorner { background-position: right -205px; }
div#findFriends a#findFriendsBtn span.btnTxt { background-position: left -916px; height: 26px; }
div#findFriends a#findFriendsBtn:hover span.lCorner { background-position: left -241px; }
div#findFriends a#findFriendsBtn:hover span.rCorner { background-position: right -241px; }
div#findFriends a#findFriendsBtn:hover span.btnTxt { background-position: left -942px; }



/* ============ */
/* = TOP TENS = */
/* ============ */
/* GLOBAL */
div#myspaceChart p.small { color: #596a7d; }
div#myspaceChart ol.topTenList li { color: #A2A2A2; }

/* ==================== */
/* = TOP TENS - MUSIC = */
/* ==================== */
/* TOP LIST */
div#myspaceChart ol.topTenList div.genre { background: transparent url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) no-repeat right -364px; color: #FFF; }


/* ==================== */
/* = TOP TENS - BLOGS = */
/* ==================== */
/* TOP LIST */
div#myspaceChart div.topblogs ol.topTenList div.genre { background-position: right -342px; }


/* ===================== */
/* = TOP TENS - VIDEOS = */
/* ===================== */
/* TOP LIST */
div#myspaceChart div.topvideo ol.topTenList div.genre { background-position: right -320px; }


/* ============= */
/* = MARKETING = */
/* ============= */
/* div#marketing { background-color: #ECC087; } */

/* ============== */
/* = GOOGLE ADS = */
/* ============== */
div.googleafc a { color: #008000; }
div.googleafc h3 a { color: #039; }

/* ================= */
/* = INVALID LOGIN = */
/* ================= */
div#invalidLogin { margin-bottom: 1em; }
div#invalidLogin div.tl,
div#invalidLogin div.tr,
div#invalidLogin div.bl,
div#invalidLogin div.br { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/cornersSheet.png) left -292px no-repeat; }
div#invalidLogin div.tr { background-position: right -292px; }
div#invalidLogin div.tc { height: 3px; margin: 0 4px; background-color: #FFEF9D; border-top: 1px solid #FFCC66; font-size: 0; }
div#invalidLogin div.bc { height: 3px; margin: 0 4px; background-color: #FFEF9D; border-bottom: 1px solid #FFCC66; font-size: 0; }
div#invalidLogin div.bl { background-position: left -303px; }
div#invalidLogin div.br { background-position: right -303px; }
div#invalidLogin div.m { background-color: #FFEF9D; border: 1px solid #FFCC66; border-width: 0 1px; padding: 0.5em 1.5em ; }
div#invalidLogin h2 { background: url(file:///C|/Users/squirly/AppData/Local/Microsoft/Windows/Temporary Internet Files/Low/Content.IE5/img/iconSheet.gif) left -2037px no-repeat; color: #333; padding: 5px 30px; margin: 0; font-weight: bold; }
div#invalidLogin h3 { margin: 1em 0; color: #039; font-weight: bold; font-size: 1em; }
div#invalidLogin li { list-style-position: inside; list-style-type: decimal; font-size: 0.91em;  }
div#invalidLogin a.more { border: none; text-align: left; margin-top: 1em; font-size: 0.91em; }


/* ================= */
/* = TODAY TAB WIDTH = */
/* ================= */
#todayvideotab #todaymusictab #todaypeopletab #todaynewstab
{
	min-width:85px;
}


#tkn_adspecial2{ padding-bottom: 5px; }
div#today  { display: inline-block; }
div#today div.tb { display: inline-block; }
div#todayPeople ul#peopleList li h3 { padding-bottom: 0.4em; overflow:hidden; white-space: nowrap; height: 1em; }

div#todayMusic div.description {background:transparent none repeat scroll 0%;}
div#todayMusic div#otherArtists li { float: left; width: 131px; text-align: center; margin: 0 4.6px; }
div#todayMusic div#otherArtists li span.thumbnail span { display: block; width: 100px; height: 51px; overflow: hidden; text-align: center; }
div#todayMusic div#otherArtists li img { min-width: 51px; min-height: 51px; max-width: 100px; }
div#todayMusic div#otherArtists li span.thumbnail { width: 100px; height: 51px; padding: 2px; margin: 0 auto;}
div#todayMusic p#aboutArtist {font-size:0.86em;}

/* HEADER STATUS MOOD FIXES FOR SPLASH */
#hsmStatusLine{width:236px !important;}
#hsmMain{ width:240px !important;}

/* LOGIN BUTTON STYLES */
input#dlb, div.rightLgn, div.leftLgn{width:auto !important; _width:80px !important;}
input#dlb{background:none !important; border:none !important; cursor:pointer; font-size:0.91em; font-weight:bold; height:23px; .height:26px; margin:0 5px !important; padding:0 0.3em !important;}
div.rightLgn{background:url('http://x.myspacecdn.com/modules/splash/static/img/cornersSheet.png') right -105px no-repeat; display:inline; float:right; height:25px; margin:0 5px 0 0; padding:0 5px 0 0;}
div.leftLgn{background:url('http://x.myspacecdn.com/modules/splash/static/img/cornersSheet.png') left -105px no-repeat; height:25px; padding:0 0 0 5px;}