<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="logon.aspx" name="adAuthCookie" timeout="60" path="/">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<identity impersonate="true"/>
		<compilation/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
