table.regions
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 0px;
	height: 100%;
}
td.regionheader
{
	height: 80px;
	background-color: #405170;	
}
td.regionfooter { height: 6px }
td.regionleft 
{
	width: 140px ;
	border-right: silver 1px solid;
	border-top: silver 1px solid;	
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	padding-left: 5px;	
}
td.regionright { width: 30px }
td.regioncenter { padding-left: 10px; }

table.regionmiddle {height:100%; width:100%}

table.searchbox
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	height: 40px;
}

table.systeminfo
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;	
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

body
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 10pt;
	padding-bottom: 0px;
	margin: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: verdana,arial,helvetica,Sans-Serif;
	background-color: #ffffff;
}
p, .n       {font-size:10pt; font-family:verdana,arial,helvetica,Sans-Serif; color:#000000; background-color:#ffffff;}
h1          {
        font-size:18pt;
        color: Navy;
}
h2          {font-size:16pt; color:#000080; background-color:#ffffff;}
h3          {font-family:Arial,Helvetica; font-size:12pt; font-weight:bold; color:#000080; background-color:#ffffff;}
h4          {font-family:Arial,Helvetica; font-size:10pt; font-weight:bold; color:#000080; background-color:#ffffff;}
h5          {font-family:Verdana,Arial,Helvetica; font-size:10pt; font-weight:bold; color:#000000;  background-color:#ffffff; margin-bottom: 0;}
form        {margin-bottom:-5px;}
textarea    {color:#333333;  background-color:#ffffff; width:100%;}
table       {font-size:10pt;}
table.usertable
{	
	border-top: silver 1px solid;	
	border-left: silver 1px solid;
	border-right: silver 1px solid;	
	border-bottom: silver 1px solid;
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	font-family: verdana,arial,helvetica;
}

td.usertableinner
{
}

td.usertablemiddle
{
}

table.oldtable
{
	padding-right: 2px;
	padding-left: 2px;
	font-size: 11px;
	padding-bottom: 2px;
	margin: 0px;
	width: 100%;
	padding-top: 2px;
	font-family: verdana,arial,helvetica;
}
dl,ul,ol    {margin-top: 2pt; margin-bottom: 2pt;}
u.diff      {color:#0000ff; background-color:#ffffff;}
strike.diff {color:#ff0000; background-color:#ffffff;}
tt, pre     {font-family:Lucida Console,Courier New,Courier,monospace; color:#666666; background-color:#ffffff;} /* margin-bottom: 0;}*/
.redtext {color:#ff0000;}
.darkredtext {color:#800000;}
.greentext {color:#00ff00;}
.darkgreentext {color:#008000;}
.bluetext {color:#0000ff;}
.darkbluetext {color:#000080;}
.markerpentext {font-weight:bold;color:#000000;background-color:#ffff00;}

pre.code {
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #ffffee;
    white-space:pre;
    border-style:solid;
    border-width:1px;
    border-color:#999999;
    color:#333333;
    padding:10px;
    width:100%;
}

a:link      {
        color: Blue;
}
a:visited   {
        color: Navy;
}
a:active    {
        color: Blue;
}
a:hover     {
        color: Blue;
        text-decoration : underline;
}


a.functions           {
        color: Blue;
        border-bottom : 1px dashed;
        text-decoration : none;
}

a.bookmarks
{
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

a.helpon           {
        color: Blue;
        border-bottom : 1px dashed;
        text-decoration : none;
}

a.trail           {
        color: Blue;
        border-bottom : 1px dashed;
        text-decoration : none;
}

.same            {
        color: Blue;
}
a.same           {
        color: Blue;
        border-bottom : 1px dashed;
        text-decoration : none;
}
a.same:Visited   {
        color: Navy;

}
a.same:Active    {
        color: Blue;
}
a.same:Hover     {
        color: Blue;
        border-bottom : 1px solid;
}

a.nonexistent {
    font-weight: bold;
    background-color: #F8F8F8;
    color: #FF2222;
}
a.nonexistent:Active {
    background-color: #F8F8F8;
    color: #FF2222;
}
a.nonexistent:Visited {
    background-color: #F8F8F8;
    color: #FF2222;
}
a.nonexistent:Hover {background:#ffa;}


.external              {
        font-size:10pt;
        font-family: verdana,arial,helvetica;
        ;
        color:blue;
        background-color:#ffffff;
        text-decoration:none;
}
a.external             {
        font-size:10pt;
        font-family: verdana,arial,helvetica;
        ;
        color:blue;
        background-color:#ffffff;
        text-decoration:none;
}
a.external:Visited     {
        font-size:10pt;
        font-family: verdana,arial,helvetica;
        ;
        color:purple;
        background-color:#ffffff;
        text-decoration:none;
}
a.external:Active      {
        font-size:10pt;
        font-family: verdana,arial,helvetica;
        ;
        color:purple;
        background-color:#ffffff;
        text-decoration:none;
}
a.external:Hover       {
        font-size:10pt;
        font-family: verdana,arial,helvetica;
        ;
        color:#000000;
        background-color:#ffffff;
        text-decoration:underline;
}

.rss              {font-family:verdana,arial,helvetica; font-size:11px; color:#800000; background-color:#ffffff; text-decoration:underline;}
a.rss             {font-family:verdana,arial,helvetica; font-size:11px; color:#800000; background-color:#ffffff; text-decoration:underline;}
a.rss:Visited     {font-family:verdana,arial,helvetica; font-size:11px; color:#006600; background-color:#ffffff; text-decoration:underline;}
a.rss:Active      {font-family:verdana,arial,helvetica; font-size:11px; color:#800000; background-color:#ffffff; text-decoration:underline;}
a.rss:Hover       {font-family:verdana,arial,helvetica; font-size:11px; color:#0000ff; background-color:#aaffff; text-decoration:underline;}


.sidebarlink           {font-size:11px; font-family:ms sans serif,Verdana,Geneva,Arial; line-height:16px; color:#666666; background-color:#ffffff; text-decoration:none;}
a.sidebarlink          {font-size:11px; font-family:ms sans serif,Verdana,Geneva,Arial; line-height:16px; color:#666666; background-color:#ffffff; text-decoration:none;}
a.sidebarlink:Visited  {font-size:11px; font-family:ms sans serif,Verdana,Geneva,Arial; line-height:16px; color:#666666; background-color:#ffffff; text-decoration:none;}
a.sidebarlink:Active   {font-size:11px; font-family:ms sans serif,Verdana,Geneva,Arial; line-height:16px; color:#666666; background-color:#ffffff; text-decoration:none;}
a.sidebarlink:Hover    {font-size:11px; font-family:ms sans serif,Verdana,Geneva,Arial; line-height:16px; color:#000000; background-color:#ffffff; text-decoration:underline;}


.pullquote       {font-family:arial,helvetica,geneva; font-size:18px; color:#990000; background-color: #ffffff;}
.new             {font-family:verdana,arial,helvetica; font-size:10px; font-weight:bold; color:#ff0000; background-color: #ffffff;}
.deprecated      {font-family:verdana,arial,helvetica; font-size:10px; font-weight:bold; color:#ff0000; background-color: #ffffff;}
.wiki            {font-family:verdana,arial,helvetica; font-size:11px;}
.rc              {font-family:verdana,arial,helvetica; font-size:10pt;}
.comment         {font-family:verdana,arial,helvetica; font-size:10pt; font-style:italic; color:#0000ff; background-color:#ffffff;}

.fileattr        {font-family:sans-serif,verdana,arial,helvetica; font-size:11px; padding:1px 2px; color:#000000; text-decoration:none;}


/*  ========== styles for the menu and website =============*/

.topmenu{
        background-color : #6495ED;
        color : White;
}

.topmenulink{
        background-color : #6495ED;
        color : White;
        padding-top : 3px;
        padding-bottom : 3px;
        text-decoration : none;
        padding-left : 3px;
        padding-right : 3px;
}

a.topmenulink{
        background-color : #6495ED;
        color : White;
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 3px;
        padding-right : 3px;
        font-weight : bold;
}

a.topmenulink:Visited{
        background-color : #6495ED;
    color : White;
        padding-top : 3px;
        padding-bottom :3px;
}

a.topmenulink:Hover{
        background-color : #96B7F3;
        color : #112056;
}
a.topmenulink:Active{
        background-color : #6495ED;
    color : White;
}

.bottommenu{
        background-color : #6495ED;
        color : White;
        padding-top : 3px;
        padding-bottom : 3px;
        text-decoration : none;
        padding-left : 3px;
        padding-right : 3px;
        font-size : 8pt;
}

a.bottommenu{
        background-color : #6495ED;
        color : White;
        padding-top : 1px;
        padding-bottom : 1px;
        padding-left : 3px;
        padding-right : 3px;
        font-weight : bold;
        font-size : 8pt;
}

a.bottommenu:Visited{
        background-color : #6495ED;
    color : White;
        padding-top : 1px;
        padding-bottom : 1px;
        font-size : 8pt;
}

a.bottommenu:Hover{
        background-color : #96B7F3;
        color : #112056;
        font-size : 8pt;
}
a.bottommenu:Active{
        background-color : #6495ED;
    color : White;
}
.box
{
    BORDER-RIGHT: #000000 1px dashed;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #000000 1px dashed;
    MARGIN-TOP: 8pt;
    PADDING-LEFT: 10px;
    MARGIN-BOTTOM: 8pt;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #000000 1px dashed;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #000000 1px dashed;
}

        /*
        To fix the FireFox so that table of contents 
        appear indented
        */
        
dl dl {margin-left: 30pt;}

/*~~~~~ MacroShowSharedImages ~~~~~~ PiiXiieeS 20060318 ~~~~~~*/
div.figure {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-family: arial;
  font-size:10px;
  text-indent: 0;
  width: 100px;
  height: 50px;
}
img.scaled {
  width: 100%;
}
/*~~~~~ MacroShowSharedImages ~~~~~~ PiiXiieeS 20060318 ~~~~~~*/