#topNav ul {
  margin:0;
  padding:0;
  list-style: none;
}

#topNav ul li {
  margin: 0;
  padding: 0;
  float: left;
  padding:0 5px;
}

#topNav ul li a {
  float: left;
  color: #266010;
  font-weight: bold;
  font-size: 14px;
  font-family: arial, verdana;
  text-decoration: none;
  text-transform: lowercase;
  padding:3px 9px;
}

#topNav ul li a:hover {
  color: #53b635;
}

#topNav ul li.active a, #topNav ul li.active a:hover {
  color:#ffffff;
  background:#53b635;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#bottomNav a {
  color:#83c966;
  font-size:12px;
  text-decoration:none;
  padding:0 8px;
  font-weight:bold;
}

#bottomNav a.active, #bottomNav a:hover {
  text-decoration:underline;
}

#secondNav ul {
  margin:0 0 0 15px;
  padding:0;
  list-style: none;
}

#secondNav ul li {
  margin: 0;
  padding: 0;
  float: left;
  padding:0;
  background: transparent url('/assets/images/bg_li.gif') bottom right no-repeat;
}

#secondNav ul li.last {
  background: none;
}

#secondNav ul li a {
  float: left;
  color: #266010;
  font-weight: bold;
  font-size: 14px;
  font-family: arial, verdana;
  text-decoration: none;
  padding:15px 12px;
}

#secondNav ul li a:hover, #secondNav ul li a.active, #secondNav ul li.active a {
  color: #53b635;
}

#topNav ul li ul {
	width:500px;
	float:left;
}

#topNav ul li ul li {
	display:block
}

#topNav, #topNav li, #topNav ul    { list-style: none; margin: 0; padding: 0; }

#topNav li                         { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; }
#topNav li.hover, #topNav li:hover { position: relative; z-index: 599; cursor: default; }
#topNav ul li ul  { 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0px; 
	z-index: 598; 
	width: 120%; 
	background-color:#fff; 
	box-shadow: #CCC 0 4px 10px;
	-webkit-box-shadow: #666 0 4px 10px;
	-moz-box-shadow: #666 0 4px 10px; 
	padding:3px 0px;
}
#topNav ul li ul li { 
	/*float: none;*/ 
	width:100%; 
}
#topNav ul ul                      { top: 1px; left: 99%; }
#topNav li:hover > ul              { visibility: visible; }
#topNav ul li ul li a {
	font-size:11px;
	text-transform: none;
}

#topNav ul li.active ul li a {
	background:none;
	color:#266010;
}

#topNav ul li.active ul li.active a,
#topNav ul li.active ul li a:hover {
	color:#53b635;
	background:none;
}

