/* Home.asp Elements */

#headerHome {
	float:left;
	width:100%;	
	background:url(/include/style/images/tabsBgSheetBottom.gif) repeat-x bottom;
	font-size:93%;
	line-height:normal;
}
#headerHome ul {
	margin:0;
 	padding:10px 10px 0;
 	list-style:none;
}
#headerHome li {
	float:left;
	background:url(/include/style/images/tabsBgSheet.png) no-repeat right 0px;
	margin:0 2px 0 0;
	padding:0;
}
#headerHome a {
	display:block;
	background:url(/include/style/images/tabsBgSheetLeft.png) no-repeat left 0px;
    padding:8px 15px 6px;
	color:#003466;
}
#headerHome a:hover {
	background-position: left -48px;

	text-decoration:none;
}

#headerHome li:hover {
	background-position: right -48px;
	}
#headerHome .current {
	background-position: right -48px;
}
#headerHome .current a {
	background-position: left -48px;
	padding-bottom:8px;
}

/* redefine global id */
#contentcolumn {width:79.1em;border-left:none;padding-left:0em;padding-right:0.4em;margin:0;padding-top:0}
#leftSideMenu {display:none;}
/* done redefining global id's */

.optionHeading {font-size:larger;}
#employeePane table {clear:both; float:none; margin:1em 2em;}
#employeePane table tr td {vertical-align:middle; padding:0.5em; }
#employeePane a:hover {text-decoration:none }

#employeeBlurb {background:url(/include/images/appProcess.jpg) no-repeat top left; height:250px; padding:0.2em 2em 0em 30em ;}
#employeeBlurb p {text-align:right;margin:0.5em 0 0.1em; }
#employeeBlurb ul {text-align:left;}
#employeeBlurb li { margin:.2em 0 .3em }
#employerPane {display: none;}
#orientationPane {display: none;}
#homeBulletin {margin:0 0 1em}


div#appCompletedBlog {background: url('/include/user/images/appComplete.gif') no-repeat top left;padding:0 1em 1.4em 10em;}
div#locateCandidateBlog {background: url('/include/user/images/appComplete.gif') no-repeat top left;padding:0 1em 1.4em 10em;}
div#upgradesInProgress {background: url('/include/user/images/upgrading.png') no-repeat top left;padding:0 1em 1.4em 10em;}

.sprite_nav_sites li a div div.hmSearch {background-position:0px 0px;}
.sprite_nav_sites li a:hover div div.hmSearch {background-position:0px -48px;}
.sprite_nav_sites li a div div.hmAttach {background-position:-48px 0px;}
.sprite_nav_sites li a:hover div div.hmAttach {background-position:-48px -48px;}


/* employer pane */

.sprite_nav li a div {margin:0 auto 0.4em;height: 48px;width: 48px;}
.sprite_nav_sites li a div {margin:0 auto 0.4em;height: 48px;width: 48px;}
.sprite_nav li a div {background-image:url('/include/images/icon_sheet_lr.jpg')}
.sprite_nav_sites li a div {background-image:url('/include/images/icon_sheet_lr.jpg')}

div#employer div p, div#employees div ul { text-align:left;}
div#employer div ul li img {margin-right:5px}
div#employer label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; color: #464646;font-weight: bold;}
div#employer input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; font-size: 0.5em;border: solid 1px #889EB6; background-color: #FFF; color: #898989; }
div#employer .button { float: right; }


/* employee pane */
div#employees div p, div#employees div ul { text-align:left;}
div#employees div ul li img {margin-right:5px}
div#employees label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; color: #464646;font-weight: bold;}
div#employees input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; font-size: 0.5em;border: solid 1px #889EB6; background-color: #FFF; color: #898989; }
div#employees .button { float: right; }

div#employers div p, div#employers div ul { text-align:left;}
div#employers div ul li img {margin-right:5px}
div#employers label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; color: #464646;font-weight: bold;}
div#employers input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; font-size: 0.5em;border: solid 1px #889EB6; background-color: #FFF; color: #898989; }
div#employers .button { float: right; }

div#orientation div p, div#orientation div ul { text-align:left;}
div#orientation div ul li img {margin-right:5px}
div#orientation label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; color: #464646;font-weight: bold;}
div#orientation input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; font-size: 0.5em;border: solid 1px #889EB6; background-color: #FFF; color: #898989; }
div#orientation .button { float: right; }

div#newToPersonnelPlus { margin-top:10px;}
div#newToPersonnelPlus div p, div#newToPersonnelPlus div ul { text-align:left;}
div#newToPersonnelPlus div ul li img {margin-right:5px}
div#newToPersonnelPlus label { margin-left: 0.5em; margin-bottom: 0.5em; display: block; color: #464646;font-weight: bold;}
div#newToPersonnelPlus input { float: left; margin-left: 0.5em; padding: 0.6em; width: 72%; font-size: 0.5em;border: solid 1px #889EB6; background-color: #FFF; color: #898989; }
div#newToPersonnelPlus .button { float: right; }
div#newToPersonnelPlus div#tourLinkWrap { margin-top: 1.5em; padding: 1em; clear: both; }

div#ourMission { margin-top:10px;}
div#ourMission div p, div#ourMission div ul { text-align:left;}
div#ourMission div ul li img {margin-right:5px}

div#affiliations { margin-top:10px;}
div#affiliations div p, div#affiliations div ul { text-align:left;}
div#affiliations div ul li img {margin-right:5px}

.home {margin:.25em 1em .25em}

#our-mission-is {margin:2em 1em 1em;}
