/* CSS Document */

div.available_w2s h2, div.available_w2s fieldset  
{
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

div.available_w2s {
	min-height:16em;
	margin:0 0 2em;
}
#getw2s {margin-bottom:2em;}

#betadisclaimer {
	font-size:smallws;
	color:grey;
	margin:1em 2em;
}

div.available_w2s ul li a {font-weight:bold;}

p#bottom_note {margin: 2em 2em 0; font-style:italic}

p#download_instructions {margin: 2em 2em 0;}

div.available_w2s ul li {
	margin: 2em 4em 1em;
}

p.appsays {
	font-style:italic;
	color:gray;
	margin: 0.4em 0 0 0;
}

table.workhistory td {
	width:33%;
	font-style:italic;
	color:gray;
	padding:0 0.4em;
	margin: 0.4em 0 0 0;
}

.fieldIsBad {
	color:#FF0000;
	visibility:visible;
	margin-left:1em;
	height:1.2em;
	padding-left:1.5em;
	float: none;
	background: transparent url('/include/images/mainsite/icon_err.gif') no-repeat;
}

.badFields {
	color:#FF0000;
	visibility:visible;
	margin:0;
	height:1.8em;
	padding-left:0.5em;
	float: none;
}
div#missed_items {
	padding:0 1em 0.6em;
}
span#review {
	display:block;
	margin:0.6em 0 0.4em;
}