
/*--- Main CSS here ---*/

/*------------------------------------*\
	IPHONE
\*------------------------------------*/
@media screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/
body{
  -webkit-text-size-adjust:none;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  padding:5px;
}
/* Element Definitions */
#pageBanner, #pageNavigation, #pageWrapper, #pageFooter {width:80em;margin:0 auto 0;text-align:center;clear:none}
#pageNavigation {padding-bottom:0;background-color:#003466}
#pageBanner, #pageWrapper {background-color:#ffffff}

#pageWrapper {margin-top:1.4em;margin-bottom:2em;padding:0.8em 0 1em;overflow:hidden;}
#pageNavigation {margin-bottom:0}

#pageWrapper {border-left: 1px solid #000;border-right: 1px solid #000;border-bottom: 1px solid #000;padding-top:0}

#pageBanner {background: transparent url('/include/style/images/cornersSheet.png') no-repeat left -415px;height:100px;background-color:#fff} /* top banner */


#pageFooter {text-align:center;padding-top:2.4em;clear:both}
#pageFooter div div {background: url('/include/style/images/bgSheet.png') repeat-x left -1141px;height:1.5em;border: 1px solid #003466}

#applicationTools {border-left:1px solid #003466;float:right !important}

#pageFooter a, #pageFooter a:link, #pageFooter a:visited {color:#fffccc;padding-top:1em}
/* #pageFooter div div {padding-top:.25em} */
#pageFooter div p {padding-top:.25em;text-align:center;margin:1em 0 0.4em;color:#003466}
#pageFooter a:hover {color:#ffff99}

/* #pageWrapper {} */

#pageNavigation {margin:-3px auto .8em !important;clear:both;height:2.8em;
background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1075px;clear:both}  /* button up */

ul.dropdown {font-weight: bold}

ul.dropdown li {padding:0;border-top: 1px solid #285291;border-right: 1px solid #003466;background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1075px;} /* button up */
ul.dropdown li.hover,
ul.dropdown li:hover {border-top:1px solid #003466;margin-top:0px;text-decoration:none;background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1109px;}  /* button down */
ul.dropdown a {height:2.1em;padding:0.55em 1.45em 0em;display:block;}
ul.dropdown a:link,
ul.dropdown a:visited	{color: #F3F3D7;text-decoration: none}
ul.dropdown a:hover		{color: #F3F3D7}
ul.dropdown a:active	{border-top:1px solid #003466;
		text-decoration:none;
		background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1109px;} /*button down */

	/* -- level mark -- */

ul.dropdown ul {width: 200px;margin: 0px}
ul.dropdown ul li {font-weight: normal;padding:0em 0em 0;text-align:left;
background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1075px;}


ul.dropdown *.dir {background: transparent url('/include/style/images/bgSheet.png') repeat-x left -1075px;}

/* -- Components override -- */
ul.dropdown-horizontal ul *.dir {}
ul.dropdown-horizontal ul li *.dir {margin: 0;padding:0}

/* Current User and Session Status 
#sessionStatus {position:absolute;top:0;left: 50%;margin-left: -40em;width:80em}*/
	
#loginStatus {float:right;width:100%;font-size:93%;line-height:normal}
#loginStatus ul {margin:0;padding:0;list-style:none}
#loginStatus li {float:right;margin:0;padding:0;background:url('/include/style/images/cornersSheet.png') no-repeat right -394px;} /* session status right */
#loginStatus a {display:block;background:url('/include/style/images/cornersSheet.png') no-repeat left -394px;padding:0px 15px 2px;color:#003466;text-decoration:none} /* session status left */
#loginStatus a img {vertical-align:middle}
#loginStatus a:hover {text-decoration:none}

.checkSignIn div p {margin-left:1.5em}

#signUpAccountButton,
#signInGuestButton {margin:1.6em 0 1.4em}

#subBanner {background: url('/include/style/images/cornersSheet.png') no-repeat left -542px; height:165px} /* sub banner */

#topnav {
	width: 370px;
	height: 31px;
	/*background-image:url(images/bg_topnav.gif);
	background-repeat:no-repeat;
	*/
	font-family:Helvetica, Arial, sans-serif, "Arial Narrow";
	font-size: 12px;
	font-weight: bold;
	background-color:transparent;
	text-align:right;
	float:right;
	padding-top:4px;
	display:inline;
	position: relative;
	top:0px;
	right:0px;
	margin-bottom:5px;
	padding-right:20px;
	z-index:100
}
#topnav a {color:#FFFFFF;font-weight:bold}
#topnav a:hover {color:#FFFFF0;font-weight:bold;text-decoration:none}
#contentcolumn {float:right;width:65em;border-left:1px solid #587299;padding-left:.5em;margin:0;padding-top:0}
#leftSideMenu {text-align: center;width:13.6em;min-height:10em; float:left;vertical-align:top; overflow:none;}
#communications {border:1px solid #a8a8a8;padding:1px}

#lnkStartPage {padding:0 0 0 0.2em;font-weight:bold}
#lnkStartPage img {padding-right:0.2em;vertical-align:middle; text-align:left} 

#search {height:26px;background:#e7eee6;color: #333333;border:solid #000000; border-width:1px 0 1px 0;margin:0 0 0 0;text-align:center;clear:both;}

#search a.leftSearch,
#search a.rightSearch,
#search a.middleSearch {margin:0 auto;width:30em;height:25px;text-decoration:none; }
#search a.rightSearch {width:20em;}

#search a.leftSearch {float:left;background:transparent url('/include/style/images/cornersSheet.png') no-repeat left -516px;} /* Client Login */
#search a.rightSearch {float:right;clear:none;background:transparent url('/include/style/images/cornersSheet.png') no-repeat right -515px;} /* Timeclock Login */
#search a.middleSearch {float:left; background:transparent url('/include/style/images/cornersSheet.png') no-repeat -330px -515px;}

#subContentWrapper {float:right;clear:both;width 65em}

#rightNav {float:right;clear:none}
span.nav {float:right;padding:0}
#pageNavigation span.nav a img {margin:1.2em -1em 0}
#pageNavigation span.nav a:hover img {margin:1.3em -1em 0}
#pageNavigation span.nav a {border-right:0 none}
#pageNavigation span.nav a:hover {border-top: 1px solid #285291;margin-top:-1px;background:transparent url('/include/style/images/bgSheet.png') repeat-x left -1075px;} 

span.bug {float:right;clear:none;padding:0}
span.bug a img {margin:-1.4em 0 0.6em 0}
span.bug a:hover img {margin:-1.2em 0.2em 0 0}

/* Log In and Sign Up Tabs */
div#account {float:right;clear:both;margin-top:30px}
div#account ul#loginTabs li a:hover {text-decoration: none}

/* TABS - NOT SELECTED */
div#account ul#loginTabs li h2, 
div#account ul#loginTabs li {background: url('/include/style/images/cornersSheet.png') left -68px}
div#account ul#loginTabs li h2 {background-position: right -68px;font-size:12px}
div#account ul#loginTabs li a {background-color: #cce0f4;color: #464646}
div#account ul#loginTabs li a:hover {color: #CC0000}

/* TABS - SELECTED */
div#account ul#loginTabs li.selected {background-position: left -17px}
div#account ul#loginTabs li.selected h2 {background-position: right -17px;font-size:12px}
div#account ul#loginTabs li.selected a {background: transparent url('/include/style/images/bgSheet.png') repeat-x;color: #FFF}
div#account ul#loginTabs li.selected a:hover {color: #FFF}

/* TABS ACCOUNT LOGIN */
div#account h2 {margin: 0;padding: 0}
div#account ul#loginTabs li {float: left;margin-right: 0.3em}
div#account ul#loginTabs li a {display: block;padding: 0.5em .5em;margin: 0 6px}
div#account ul#loginTabs li.selected a {padding-bottom: 0.6em} 
div#account div.selected {display: block}

div.tabsWrap {border: 1px solid #bbb;margin:.1em .5em .0em}
ul.tabs {background:  url('/include/style/images/bgSheet.png') repeat-x left -1026px}
ul.tabs li {border-right: 1px solid #bbb}
ul.tabs li.selected a, 
ul.tabs li a:hover {background: url('/include/images/mainsite/moduleBg.gif') repeat-x;color: #747474}
ul.tabs li a:hover {color: #039}

/* TABS */
ul.tabs li {float: left;margin-bottom: -2px}
ul.tabs li a {display: block;padding: 0.8em 1em;font-weight: bold;font-size: 0.91em;text-align: center;}
ul.tabs li.selected a:hover {padding-bottom: 0.8em}
ul.tabs li.selected {margin-bottom: -1px}
ul.tabs li a:hover {text-decoration: none}

/* Sign In */
#guestSignIn div p,
#needAnAccount div p {padding:1em 1.8em 1em;clear:both}
#guestButton,
#signUpButton {margin:1.6em .8em 3em}

#getSignedIn form p {padding:.2em 1em .2em;clear:both}
#getSignedIn form p input.credential {width:24em}

#getSignedIn form div p {padding:.1em 2.8em 0 clear:both}
#getSignedIn * input.credential {height:1.4em}
#remember label {text-align:left}
a.editResource {margin:-0.1em 0.5em 0;float:right}
a.editResource:hover img {margin-top:0.2em}

input.btn {
	margin:0;
	width:auto;
	height:1.9em;
	cursor:pointer;
	border:outset 1px #ccc;
	background:#999;
	color:#666;
	font-weight:bold;
	padding: 1px 2px;
	background:url('/include/style/images/btnbg.gif') repeat-x left top;
}

.twitter-share-button,
.fb-share-button {
	float:right;
	margin: 0 0.2em 0;	
	}
div#bread {
	width:78em;
	}
#bread {
	color: #003466;
	background-color: #fff;
	padding: 3px;
	margin-bottom: 1em;
	}

#bread ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
	} 

#bread ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
	}
.inOrderTo {font-weight:bold;color:red}

pre#print {
	font-size: 12px;
	padding: 0;
	margin: 40px;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	line-height: 20px;
	width:600px;
	overflow: auto;
	overflow-Y:hidden;
	z-index:10000
}