#contacts div table { width:90%; }

#aboutUs div p,

#helpInfo div p { padding:0.4em 2em 1.2em; clear:both;}
#optionalbenefits * ul,
#taxesandrecordkeeping * ul { display:block; margin:0 0 2em 6em; padding-bottom:2em; }
#optionalbenefits * ul li,
#taxesandrecordkeeping * ul li { display:inline; float:left; width:24em; padding-bottom:.2em; }

#orientationVideos * ul,
#jobSafety * ul,
#drugChecks * ul ,
#humanResources * ul ,
#laborLaws * ul  { margin:1em 0 1.4em 2em; }

div#notinoffice { }
div#notinoffice h2 {background-image:none; font-size:large; margin-bottom:1em; padding:0;}
div#notinoffice p {margin:1.4em 1.2em;}

div#appCompletedBlog {background: url('/include/user/images/appComplete.gif') no-repeat top left;padding:0 1em 1.4em 10em;}
div#noAccountFound {background: url('/include/user/images/appComplete.gif') no-repeat top left;padding:0 1em 1.4em 10em;}

/* maintainApplicant.asp */
#left_form {width: 30em; float:left; padding:0 0 0 1em }
#right_form { width:33em; float:right; margin:0 1em 0 0 }

#applicantMain { padding:0 0 1em }
#applicantMain input, 
#applicantMain label {margin:0 0 0 1em; width:22em; text-align:left}
#applicantDates {margin:0 0 0 1em; height:6em;}
#applicantScores * th, 
#applicantScores * td
#applicantDates * th, 
#applicantDates * td {padding:0.2em 0.2em;}

#applicantScores {margin:1em 0 0 1em; float:left; width:14em; }
#applicantScores table tr th { background:#CCCCCC}
#applicantScores table tr td { background: #FFFFCC; text-align:center}
#applicantScores table tr td input { width:4em; margin:0 0 0 0; text-align:center }
#applicantScores table { width:100%; float:left; clear:none; }

#applicantOptions {width:11em; float:right; margin:1em 0 0; padding:1em; }
#applicantOptions a { width:9em;display:block;border:1px solid #000000;padding:1em;margin:0 0 0.8em }
#applicantOptions a:hover { text-decoration:none; background-color:#0000FF; color:#FFFFFF }

#applicantNotes { clear:both; margin:1em; }
#applicantNotes label {float:left; clear:both; text-align:left}
#applicantNotes textarea {width:100%; height:24em;}
#applicantSkills {margin:1em 0 0; float:left; clear:right; width:28.5em}
#applicantSkills div {overflow:auto; height:10em; }
#applicantSkills div ul li {display:block; float:left; clear:right; width: 8em; padding:0.1em; }

#applicantActivities {clear:both; float:left; margin:1em 0 0 1em; }
#applicantActivities div {width:30em;  height:21em; overflow:scroll }

/* borders */
#applicantDates,
#applicantScores,
#applicantMain,
#applicantActivities,
#applicantSkills {  border:1px solid #003366; padding:0.6em; }

.battery { width:4em }
.results { width:2em }

#new_activity { width:28em; float:right; margin: 1em 1em 0 0;}
#update_notes { margin: 1em 0 0}

/* createNewUser.asp */

form.createNewUser fieldset {
 padding: 0 0 3em;
  border:none;
}
form.createNewUser legend {
  padding: 0 0.2em 0.6em;
  font-weight: bold;
}
form.createNewUser label {
  display: inline-block;
  line-height: 1.8em;
  vertical-align: top;
  width: 12em; 
}
form.createNewUser fieldset ol {
  margin: 0;
  padding: 0;
}
form.createNewUser fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.createNewUser fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.createNewUser fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.createNewUser fieldset fieldset label {
  display: block;
  width: auto;
}
form.createNewUser em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.createNewUser fieldset fieldset label {
  margin-left: 10.1em; /* Width plus 3 (html space) */
}

input {width:20em}

p, label {color:#003466}

#webform p label {width:10em; }
.usertype input {width:1.6em;vertical-align:middle; border:none; background:none;}

/* #webform { background:url('/include/user/images/createUser.png') no-repeat bottom right #FFFFFF; float:left;} */

#noForYou { background: url('/include/user/images/upgrading.png') no-repeat top left; padding-left:12em; height:9em }
#enrollmentCompleteContent { background: url('/include/user/images/createCompany.png') no-repeat top left; padding-left:14em; height:9em }
#bugReported {background: url('/include/system/tools/images/resumeSent.png') no-repeat top left; padding-left:13em; height:9em }
#bugReported p {margin:0 0 0.4em 0}
#resumeSubmitted { background: url('/include/system/tools/images/resumeSent.png') no-repeat top left; padding-left:14em; height:8em }
#resumeSubmitted p { margin:auto 0.4em 0.6em; }
#bugSubmitted { height:9em }
#passwordChanged { background: url('/include/style/images/changePassword.jpg') no-repeat top left; padding-left:8em; height:8em }
#companyinfo { clear:both; margin-top:1em;}
#companyinfo label { width:10em; }
#createUser {padding:4em 0 1em 0; width:40em; float:left;clear:both}
#taxid { width:10em; margin: 1em 0 0;}

/* userHome.asp */
#hmMessagesSpot {width:25em;float:left;margin-bottom:0.6em}
#hmAppointmentsSpot {width:37em;float:left;margin:0; }
#homeBlogSpot { clear:both}

.appointments {height:12em; overflow:auto;}
.noappointments {height:4em; overflow:auto;}

a#gotoappointments {float:right;color:#003466; margin-botton:0;}

span.enteredby {display:block;float:right;clear:left;height:1em;width:9em;}
span.enteredby input,
span.enteredby label {vertical-align:middle;height:1em;}
span.enteredby input {margin-right:0.2em;border:none;width:1em;}
div#busyoverlay{
  background: url('/include/style/unique/ajax/ajax-loader.gif') no-repeat center;
	position:absolute;
	left:0em;
	top:0;
	z-index:23;
}
div.working {
   background-color: white;
   min-height:4em;
	top:0;
	left:0;
	z-index:20;
	opacity:0.4;
	filter:alpha(opacity=40);
	/* For IE8 and earlier */;
	width:100%;
	height:100%;
}


td.appoint_when {height:2.6em;}

.appoint_when {width:20%; text-align:center; vertical-align:middle}
.appoint_comment {width:65%; text-align:left; vertical-align:middle}
.appoint_for {width:15%; text-align:center; vertical-align:middle}

#hmMessagesSpot * p { margin:0em 1em 1em }
#hmMessagesSpot * span p { margin:1em 3em 1em }
#hmMessagesSpot * span ul { margin:1em 4em 1.5em }
#messages {height:11.2em; overflow:auto;}

#homeBlogSpot * p { margin:1em 1em 1em }
#homeBlogSpot * span p { margin:1em 3em 1em }
#homeBlogSpot * span ul { margin:1em 4em 1.5em }

#empTimecard {}

.icon {background:url('/include/images/iconSheet.png') no-repeat; width:48px; height:48px; margin: 1em; }
.viewapp {background:url('/include/images/iconSheet.png') no-repeat; width:48px; height:48px; margin: 1em; background-position:0px 0px}

/* #homeBlogSpot * a { margin:-0.1em 0.5em 0; float:right; }
#homeBlogSpot * a:hover img { margin-top:0.2em; } */

.delBlog { float:left; display:block; }
.editBlog { float:right; display:block;}

#orientationVideos * ul li { margin-bottom:.6em; }

#helpFAQ h2,
#privacyPolicy h2 { font-size:1.6em; font-weight:bold; background:none; color:#333333; width:100%; padding:0 0.8em 0.2em; }
#helpFAQ h2 span,
#privacyPolicy h2 span { border-bottom:1px solid #cccccc;}
#helpFAQ img,
#privacyPolicy img { float:right; }
#helpFAQ p,
#privacyPolicy p { padding:0 1.4em 1em 2.2em; text-align:left; }

div.notes {
  float: right;
  clear:none;
  width: 12em;
  height: auto;
  margin: 0 1em 1em 1em;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

div.notes h4 {
  background-image: url('/include/style/images/forms/icon_info.gif');
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0 3px 2.6em;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 110%;
}

div.notes p {
  margin: 0em 0em 1.2em 0em;
  color: #666666;
}

div.notes p.last {
  margin: 0em;
}

span.checkbox {
    width: 19px;
    height: 25px;
    padding: 0 5px 0 0;
	margin:-5px 0 0;
    background: url('/include/style/images/forms/checkbox.gif') no-repeat;
    display: block;
    clear: left;
    float: left;
  }
  
#ResetForm * table {width:40em; margin:2em 4em 10em;}
#ResetForm * table tr td {padding-bottom:0.6em;}

.homeLinks {min-height:6em; text-align:left;}
.homeLinks a:hover,
.homeLinks a {text-decoration:none; padding:0; margin:0; float:left; display:inline}
.homeLinks a img {margin:0; padding:0;}


#CityField { width:12em; }
#ZipField { width:8em; }
#StateLbl { width:6em !important;}

.CityStateZip {clear:both;}
.CityStateZip label,
.CityStateZip select,
.CityStateZip input { float:left;}

li.mirrors td {padding:0 0.2em 0;}
.mirrors a:link,
.mirrors a:visited,
.mirrors a:hover,
.mirrors a {font-style:normal;font-weight:bolder;color:#003366;text-decoration:none;}

.mirrors a:hover {color:#003669;}

div#employer31-1 p {margin: 0 0 0.8em;line-height:125%}
div#employer31-1 h3 {background-image:none;color:#003366; font-weight:bolder; font-size:1.5em; margin:0 0 0.2em;padding:0;}
div.contacts {margin:0; padding:0}

div#employmentopportunity p {margin:0 1em 1em; font-size:1.2em;}
form#opportunityform {width:40em;margin:0 0 0 1em;font-size:1.2em;}

#locateCandidate {width:96%;margin:0 0 0 1em;}

form#opportunityform table tr td {vertical-align:middle; height:2em;margin:0 0 0.2em;}

